@import "../../styles/common.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-container {
    z-index: 99;
    display: flex;
    justify-content: space-between;
    background-color: white;
    // background-color: $colormain;
    color: black;
    // color: $common-text-color;
    height: 60px;
    position: relative;

    .header-logo {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3px;

        .img-logo {
            background: url('../../assets/images/logo.png') no-repeat;
            background-size: contain;
            width: 30px;
            height: 30px;
            cursor: pointer;
        }

        .text-logo {
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
        }


    }

    .header-center {
        width: 50%;
        padding: 0 20px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;

        .header-search {
            position: relative;
            border: 1px solid #6dd3c1d1;
            border-radius: 15px;
            width: 100%;
            height: 70%;

            .search-input {
                outline: none;
                width: 93%;
                height: 100%;
                border: 1px solid white;
                border-right: 1px dashed rgb(143, 140, 140) !important;
                display: flex;
                align-items: flex-start;
                border-top-left-radius: 15px;
                border-bottom-left-radius: 15px;
                padding: 10px 22px 10px 12px;
            }

            .clear-icon {
                position: absolute;
                top: 12px;
                right: 9vh;
                font-size: 17px;
                cursor: pointer;
            }

            .search-icon {
                position: absolute;
                top: 11px;
                right: 2vh;
                font-size: 18px;
                // padding: 8px;
                cursor: pointer;
            }
        }
    }

    .header-right {
        width: 25%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .header-user {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;
    
            .user-img {
                cursor: pointer;
                border-radius: 50%;
                background-color: aquamarine;
                color: white;
                padding: 6px 14px;
                font-size: 20px;
            }
    
            .user-name {
                cursor: pointer;
                font-size: 18px;
            }
        }
        .header-navigator{
            position: absolute;
            top: 60px;
            background-color: white;
            box-shadow: 3px 3px 5px 0 gray;
            border-radius: 5px;
            .header-item {
                padding: 5px 30px 5px 15px;
                border-bottom: 1px solid gray;
                cursor: pointer;
                &:last-child {
                    border: none;
                }
                &:hover {
                    background-color: rgb(220, 223, 223);
                }
            }
        
        }
    }    
}
